<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <div style="height:80px">
        <%= gravatar_for @user %>
        <h1><%= @user.name %></h1>
      </div>
        <h3><%= link_to "microposts" , microposts_user_path %> (<%= @user.microposts.count %>)</h3>
        <h3><%= link_to "follow" , followings_user_path %>(<%= @user.following_users.count %>)</h3>
        <h3><%= link_to "follower" , followers_user_path %>(<%= @user.follower_users.count %>)</h3>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
  </div>
</div>